<%- include('../partials/header') %>










    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row breadcrumb_box  align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-left">
                            <h2 class="breadcrumb-title">Wishlist</h2>
                        </div>
                        <div class="col-lg-6  col-md-6 col-sm-6">
                            <!-- breadcrumb-list start -->
                            <ul class="breadcrumb-list text-center text-sm-right">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active">Wishlist</li>
                            </ul>
                            <!-- breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->






    <div class="site-wrapper-reveal border-bottom">

        <!-- wishlist start -->
        <div class="wishlist-main-area  section-space--ptb_90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#">
                            <div class="table-content table-responsive cart-table-content">
                                <table>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th class="product-name">Product</th>
                                            <th class="product-price"> Unit Price</th>
                                            <th>Stock Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="product-remove">
                                                <a href="#"><i class="icon-cross2"></i></a>
                                            </td>
                                            <td class="product-img">
                                                <a href="#"><img src="assets/images/product/small/cart-01.jpg" alt=""></a>
                                            </td>
                                            <td class="product-name"><a href="#">Plant pots</a></td>
                                            <td class="product-price"><span class="amount">$17.00</span></td>
                                            <td class="product-stock-status">
                                                <p>In Stock</p>
                                            </td>
                                            <td class="product-wishlist-cart"><a href="#">add to cart</a></td>
                                        </tr>
                                        <tr>
                                            <td class="product-remove">
                                                <a href="#"><i class="icon-cross2"></i></a>
                                            </td>
                                            <td class="product-img">
                                                <a href="#"><img src="assets/images/product/small/cart-02.jpg" alt=""></a>
                                            </td>
                                            <td class="product-name"><a href="#">Teapot with black tea</a></td>
                                            <td class="product-price"><span class="amount">$26.00</span></td>
                                            <td class="product-stock-status">
                                                <p>In Stock</p>
                                            </td>
                                            <td class="product-wishlist-cart"><a href="#">add to cart</a></td>
                                        </tr>
                                        <tr>
                                            <td class="product-remove">
                                                <a href="#"><i class="icon-cross2"></i></a>
                                            </td>
                                            <td class="product-img">
                                                <a href="#"><img src="assets/images/product/small/cart-03.jpg" alt=""></a>
                                            </td>
                                            <td class="product-name"><a href="#">Wooden Flowerpot</a></td>
                                            <td class="product-price"><span class="amount">$22.00</span></td>
                                            <td class="product-stock-status">
                                                <p>In Stock</p>
                                            </td>
                                            <td class="product-wishlist-cart"><a href="#">add to cart</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- wishlist end -->


        <div class="container">
            <div class="related-products section-space--ptb_90">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center mb-30">
                            <h4>Related products</h4>
                        </div>
                    </div>
                </div>

                <div class="row product-slider-active">
                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="product-details.html" class="product-thumbnail">
                                    <img src="assets/images/product/1_1-300x300.jpg" class="img-fluid" alt="Product Images">

                                    <span class="ribbon out-of-stock ">
                                    Out Of Stock
                                </span>
                                </a>
                                <div class="product-actions">
                                    <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                    <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                    <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="product-details.html">Teapot with black tea</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">£40.00</span> - <span class="old-price"> £635.00</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="product-details.html" class="product-thumbnail">
                                    <img src="assets/images/product/1_2-300x300.jpg" class="img-fluid" alt="Product Images">

                                </a>
                                <div class="product-actions">
                                    <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                    <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                    <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="product-details.html">Simple Chair</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">£70.00</span> - <span class="old-price"> £95.00</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="product-details.html" class="product-thumbnail">
                                    <img src="assets/images/product/1_3-300x300.jpg" class="img-fluid" alt="Product Images">

                                </a>
                                <div class="product-actions">
                                    <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                    <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                    <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="product-details.html">Smooth Disk</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">£46.00</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="product-details.html" class="product-thumbnail">
                                    <img src="assets/images/product/1_4-300x300.jpg" class="img-fluid" alt="Product Images">

                                    <span class="ribbon onsale">
                                -14%
                                </span>
                                </a>
                                <div class="product-actions">
                                    <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                    <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                    <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="product-details.html">Wooden Flowerpot</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">£40.00</span> - <span class="old-price"> £635.00</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="product-details.html" class="product-thumbnail">
                                    <img src="assets/images/product/1_5-300x300.jpg" class="img-fluid" alt="Product Images">

                                </a>
                                <div class="product-actions">
                                    <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                    <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                    <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="product-details.html">Living room & Bedroom lights</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">£60.00</span> - <span class="old-price"> £69.00</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="product-details.html" class="product-thumbnail">
                                    <img src="assets/images/product/1_6-300x300.jpg" class="img-fluid" alt="Product Images">

                                </a>
                                <div class="product-actions">
                                    <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                    <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                    <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="product-details.html">Gray lamp</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">£80.00</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="product-details.html" class="product-thumbnail">
                                    <img src="assets/images/product/1_7-300x300.jpg" class="img-fluid" alt="Product Images">

                                </a>
                                <div class="product-actions">
                                    <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                    <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                    <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="product-details.html">Decoration wood</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">£50.00</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="product-details.html" class="product-thumbnail">
                                    <img src="assets/images/product/1_8-300x300.jpg" class="img-fluid" alt="Product Images">

                                </a>
                                <div class="product-actions">
                                    <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                    <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                    <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="product-details.html">Teapot with black tea</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">£20.00</span> - <span class="old-price"> £135.00</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>
                </div>
            </div>
        </div>

    </div>

<%- include('../partials/footer') %>